*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'VOYAGE'; */
}

html,body{
    width: 100%;
    height: 100%;
    
}
#main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    
}
#left{
    width: 30%;
    height: 100%;
    background-color: rgb(26, 25, 25);
    font-size: 175px;
     padding: 99px; 
    position: relative;
     z-index: 9;
     
    
}
#center{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1642687748810-5b4066921977?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNTB8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
}
#right{
    width: 20%;
    height: 75%;
    background-color: aqua;
    background-image: url(https://images.unsplash.com/photo-1642603436412-11e2e2fc08bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDZ8eGpQUjRobGtCR0F8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    
}
#left p{
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    line-height: 150px;
    color:rgb(184, 184, 184)
    
    
    
    
}
#right p{
   position: relative;
   top: 113%;
   left: 21%;
   font-size: 63px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-property: background-color;
    
}
#left h1{
    font-size: 45px ;
    position: relative;
    top: 52%;
    right: 12%;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#linediv{
    position: absolute;
    width: 100%;
    height: 60px;
    top: 60%;
    
    border-top: .3px solid rgb(255, 255,255);
    border-bottom: .3px solid rgb(255, 255,255) ;
    color: white;
    padding:0px 85px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#circle{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    right: 3%;
    top: 35%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition-property: background-color;
    
    
}
#circle p{
    letter-spacing: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#text{
    position: absolute;
    bottom: 2%;
    left: 2%;
}
#text h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 45px;
    letter-spacing: 3px;
    font-weight: 2%;
}
#center :hover{
    background-color: grey;
    cursor: pointer;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .8s;
    
    
}
#rightp:hover{
   background-color: red;
   cursor: pointer;
   transition: cubic-bezier(0.19, 1, 0.22, 1) .8s;
   font-size: 55px;
   width: 52%;
   height: 10%;
   
}
#linediv:hover{
    background-color: rgb(54, 54, 44);
    cursor: pointer;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#left p:hover{
    cursor: pointer;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
     width: 77%; color: rgb(99, 24, 24);
     letter-spacing: 25px;
     font-size: 100px;
}
#dushyant{
    position: relative;
    height: 26%;
    background-color:white;
    top: 87%;
    height: 40%;
    
}
#dushyant h2{
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    top: 35%;
    font-size: 55px;
}
#dushyant:hover{
    background-color: rgb(175, 152, 49);
    transition: cubic-bezier(0.19, 1, 0.22, 1) .8s;
    border-radius: 25px;
   
    

}
#dushyant h2:hover{
    cursor: pointer;
    font-size: 80px;
    transition: cubic-bezier(0.19, 1, 0.22, 1) .40s;
}
#circle p:hover{
    font-size: 24px;
    text-shadow: 20px;
    color: black;
}
#left h1:hover{
    background-color: rgb(78, 49, 10);
    border-radius: 25px;
    /* font-style: italic; */
    color: pink;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
    font-weight: 85;
    letter-spacing: 65px;
    
}
#linediv p:hover{
    letter-spacing: 12px;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
#text h2:hover{
    background-color: rgb(138, 109, 31);
    font-style: oblique;
    color: black;
    /* border-radius: 12px; */
    letter-spacing: 12px;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
}
